@page "/catalog"
@using Blazored.LocalStorage
@inject HttpClient Http
@inject ILocalStorageService localStorage

<PageTitle>Catalog</PageTitle>

<HeadContent>
    <title>Catalog Page</title>
</HeadContent>

<h1>Catalog</h1>

<!-- Button to perform some action, e.g., load products -->
<button @onclick="LoadProducts">Load Catalog</button>

@code {
    private Product[] products;

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    //Метод загрузки каталога категорий товаров
    private async Task LoadProducts()
    {
        try
        {
            
            string token = await localStorage.GetItemAsStringAsync("authToken");
            
            Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
            
            products = await Http.GetFromJsonAsync<Product[]>("https://localhost:7228/api/Product/Paginate");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error loading products: " + ex.Message);
        }
    }

   
    public class Product
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public decimal Price { get; set; } 
        public string Description { get; set; }
    }
}
